
<html>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <body id="myPage">


      <div class="w3-display-container w3-animate-opacity">
        <img src="images/2.jpg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
        <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
          <button onclick="document.getElementById('id01').style.display='block'"ui-sref="grilla" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Alsina">Compra tu bici Hoy</button>
        </div>
      </div>
      
      <!-- <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right"> -->
        <!-- <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>    -->
        <!-- <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge"> -->
        <!-- <i class="fa fa-chevron-circle-up"></i></span></a> -->
      </div>
    </footer>
