  
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="index.html">Bicicleteria Alsina</a></h1>
      
    </div>
    <div id="topnav">
      <ul>
        <li class="active"><a ui-sref="grilla">Inicio</a></li>
        <li><a ui-sref="rodados">Rodados</a></li>
        <li><a ui-sref="signup" >Indumentaria</a></li>
        <li><a ui-sref="login">Accesorios</a>
        <li><a ui-sref="contacto">Contactanos</a>
        
    <li ><div ng-if="usuarioLogeado==undefined">    <a ui-sref="login">Identificarse</a></div></li>

     
<li class="last">
<div ng-if="usuarioLogeado!=undefined">
       <div class="dropdown">
  

  <button class="dropbtn"><li>{{usuarioLogeado.correo}}</li></button>
  <div class="dropdown-content">
    <a ui-sref="grillaCompra">Ver Carrito</a>
    <div ng-if="usuarioLogeado.tipo=='Administrador'"><a  ui-sref="altaProducto">Alta Productos</a></div>
  

    <a ui-sref="logout">Salir</a>
  </div>


</div></li>
      </ul>
      </ul>
                
                 
    </div>

<!-- <li><input type="search">Buscar:</input></li>  -->
    </div>
     
    <br class="clear" />
  </div>
</div>
