  
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="index.html">Bicicleteria Alsina</a></h1>
      
    </div>
    <div id="topnav">
      <ul>
        <li class="active"><a ui-sref="grilla">Inicio</a></li>
        <li><a href="">Rodados</a></li>
        <li><a href="" >Indumentaria</a></li>
        <li><a ui-sref="login">Accesorios</a>
        
        <li><a ui-sref="altaProducto">Alta Productos</a>
        <li class="last"><a ui-sref="login">Identificarse</a></li>
      <li class="last"><a ui-sref="logout">Salir</a></li>
      </ul>
      </ul>
<li> Buscar:<input type="search"></input></li> 
    </div>
     
    <br class="clear" />
  </div>
</div>
