<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

   
  
 
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
  

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-headinge2">Rod 12</div>
        <div class="panel-body"><img src="fotos/rodados/12.jpg" class="img-responsive" style="width:100%" style="height:75%"alt="Image"></div>
        <div class="panel-footer"><button class="w3-button w3-block w3-dark-grey"  ng-click="Entrara('r12')"> Ver -> </button></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-headinge2">Rod 14</div>
        <div class="panel-body"><img src="fotos/rodados/14.jpg" class="img-responsive" style="width:100%" style="height:75%" alt="Image"></div>
        <div class="panel-footer"><button class="w3-button w3-block w3-dark-grey"  ng-click="Entrara('r14')"> Ver -> </button></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-headinge2">Rod 16</div>
        <div class="panel-body"><img src="fotos/rodados/16.jpg" class="img-responsive" style="width:100%" style="height: auto" alt="Image"></div>
        <div class="panel-footer"><button class="w3-button w3-block w3-dark-grey" ng-click="Entrara('r16')"> Ver -> </button></div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-headinge2">Rod 20</div>
        <div class="panel-body"><img src="fotos/rodados/20.jpg" class="img-responsive" style="width:100%" style="height: auto" alt="Image"></div>
        <div class="panel-footer"><button class="w3-button w3-block w3-dark-grey"  ng-click="Entrara('r20')"> Ver -> </button></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-headinge2">Rod 26</div>
        <div class="panel-body"><img src="fotos/rodados/26.jpg" class="img-responsive" style="width:100%" style="height:75%" alt="Image"></div>
        <div class="panel-footer"><button class="w3-button w3-block w3-dark-grey"  ng-click="Entrara('r26')"> Ver -> </button></div>
      </div>
    </div>
    <div class="col-sm-4">
   <div class="panel panel-success">
        <div class="panel-headinge2">Rod 28</div>
        <div class="panel-body"><img src="fotos/rodados/28.jpg" class="img-responsive" style="width:100%" style="height:75%" alt="Image"></div>
        <div class="panel-footer"><button class="w3-button w3-block w3-dark-grey"  ng-click="Entrara('r28')"> Ver -> </button></div>
      </div>
    </div>
  </div>
</div><br><br>


</body>
</html>

