<div class="login-page">
  <div class="form">
   
    <form class="login-form">
    <h2> Registro</h2>
      <input type="text" placeholder="Nombre"/>
      <input type="text" placeholder="Localidad"/>
      <input type="text" placeholder="Dirección"/>
      <input type="text" placeholder="Dni"/>
      <input type="text" placeholder="Correo electronico"/>
      <input type="password" placeholder="Contraseña"/>
      

      <button>Registrarse</button>
      <p class="message">Ya esta registrado? <a ui-sref="login">Identificarse</a></p>
    </form>
  </div>
</div>