 <div class="form2 form2-responsive">
Podes visitarnos en nuestro local en la localidad de avellaneda calle alsina 123
<section id="wrapper">



<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

    <article>

      <p><span id="status"></span></p>

    </article>

<script>

function success(position) {

  var s = document.querySelector('#status');



  if (s.className == 'success') {

    return;

  }



  s.className = 'success';



  var mapcanvas = document.createElement('div');

  mapcanvas.id = 'mapcanvas';

  mapcanvas.style.height = '400px';

  mapcanvas.style.width = '560px';



  document.querySelector('article').appendChild(mapcanvas);



  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

  var myOptions = {

    zoom: 15,

    center: new google.maps.LatLng(-34.6625462,-58.36490035),

    mapTypeControl: false,

    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

    mapTypeId: google.maps.MapTypeId.ROADMAP

  };

  var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);



  // var marker = new google.maps.Marker({

  //     position: latlng,

  //     map: map,

  //     title:"You are here!"

  // });

}



function error(msg) {

  var s = document.querySelector('#status');

  s.innerHTML = typeof msg == 'string' ? msg : "failed";

  s.className = 'fail';



  // console.log(arguments);

}



if (navigator.geolocation) {

  navigator.geolocation.getCurrentPosition(success, error);

} else {

  error('not supported');

}



</script>

</section>

<script>
function iniciar() {
var mapOptions = {
center: new google.maps.LatLng(25.80, -80.30),
zoom: 10,
mapTypeId: google.maps.MapTypeId.ROADMAP};
var map = new google.maps.Map(document.getElementById("map"),mapOptions);}              
</script>

<div id="map"></div>

</div>