
	


<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="Usuario"/>
      <input type="password" placeholder="Contraseña"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="Usuario"/>
      <input type="password" placeholder="Contraseña"/>
      <button>Ingresar</button>
      <p class="message">No esta registrado? <a href="#">Crear una cuenta</a></p>
    </form>
  </div>
</div>