<div id="page-wrapper">
    <div class="container-fluid">
		<script data-require="jquery@*" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
		<div class="row">
			<div class="col-lg-12">
		    	<h1 class="page-header">
			    	<br>
			       <div  class="wrapper col2"> Carrito</div>
		   		 <div  class="wrapper col2"> <button class="but1" id="cmd">Descargar Pedidos</button>
		   		 
		   		 <button class="but1">
                <a href="#" id ="export" role='button'>Descargar Pedidos Excel
                </a>
            </button>
               
		   		 <script src="js/jspdf.min.js"></script>
				</div>
				 
		   		</h1>
			</div>
	
				<div class="panel-heading">
	
			<input type="text" placeholder="Buscar..." ng-model="mifiltro">	</div>
	
	
	<style>input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-image: url('searchicon.png'); */
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}</style>
			<!--  <input type="search" placeholder="Buscar Nombre.." ng-model="Qnombre"></input>
			<input type="search" placeholder="Buscar Apellido.." ng-model="Qapellido"></input> -->
<div  class="form2" id="conten">
   

			<table class='table table-hover table-responsive' id="listaCompras">
				<thead>
					<tr>
					
					<th>  Fecha     </th>				
					 <th>  Codigo Compra   </th>
				     <th>  Codigo Producto   </th>
					<th>  Cantidad        </th>
					<th> Precio por Unidad</th>
					<th> Estado  </th>
					<th> Total  </th>
					<th >  	Cancelar   </th>
					
					</tr> 
				</thead>
		          

	<!-- 			<tr ng-repeat="persona in ListadoPersonas | limitTo: 25 | orderBy: ['apellido', '-Nombre'] | filter:{Sueldo: '£':'hola'}:filtrarPorMoneda | filter:{$:mifiltro, Nombre: Qnombre, apellido: Qapellido} as resultado"> -->
		<tr ng-repeat="compra in ListadoCompras| filter:{$:mifiltro, id: Qid, fecha: Qfecha} as resultado"  ng-if="usuarioLogeado.dni==compra.dni">
					
					<td>{{compra.fecha}}</td>
					<td>{{compra.id}}</td>
				
				<td>{{compra.codigo}}</td>
				<td>{{compra.cantidad}}</td>
				<td>${{compra.precio}}</td>
				<td><d ng-if="compra.estado != 'Pendiente de pago'">{{compra.estado}}</d> <d ng-if="compra.estado=='Pendiente de pago'"><button class="but1" name='ModificarEstado' ui-sref="Pago({id:compra.id,codigo:compra.codigo,fecha:compra.fecha, dni:compra.dni,cantidad:compra.cantidad, precio:compra.precio,total:compra.total,estado:compra.estado})"><span class='glyphicon glyphicon-edit'>&nbsp;</span>Pagar</button></td>
				</d></td>
				
						
				<td>${{compra.total}}</td>			 
					 <td>
					 <button class='btnBorrar' name='Cancelar' ng-click="Borrar(compra)"><span class='glyphicon glyphicon-edit'>&nbsp;</span>Cancelar Compra</button></td>
					</tr>
	
	</div>			
</tr>
			</table>
		</div>
	</div>
</div>



